# Next.js
.next/
out/
build/

# Production
node_modules/
.env*.local
.vercel

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
